

body {
    font-family: 'Klee One', cursive;
    background-color: #e4e5cf;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* MUSIC */

.button {
    display: flex;
    justify-content: end;
  }
  .play{
    width: 30px;
    height: 30px;
    background-color: #E5CFE5;
    background-image: url("play.png");
    background-size: contain;
    border-radius: 40%;
    margin-left: 200px;
  /*      z-index: -1; */
  }
  
  .pause{
    background-image: url("pause.png");
  }

/* ------------------------- */

.container {
    width: 100vw;   
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    padding: 20px;
    background: #3d313d;
    z-index:10;
  }

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;   
    padding-left: 1rem;
    padding-right: 1rem;
}


.header-brand {
    font-size: 30px;
    color: #8879B0;   
    text-transform: uppercase;
    font-weight: 700;
    margin: 5px;
    font-family: 'Klee One', cursive;
}

.header-nav {
    display: flex;
}

.header-nav>li{
    list-style: none; 
}

.header-nav-link {
    color: #8879B0;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: color .2s linear;
    margin-left: 15px;
    overflow-y: scroll;
    scroll-behavior: auto;
    font-family: 'Klee One', cursive;
}


.header-nav-link:hover {
    color: #ffffff;
}

/* Home */

.main_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    min-height: 400px;
    padding-top: 150px;
    padding-bottom: 70px;
    margin: 0 auto;
    background-color: #8f8f6c;  
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 70%;
    max-width: 800px;
    
}


.subtitle {
    font-size: 1.4rem;
    color: #ffffff;
    font-weight: 300;
    font-family: 'Klee One', cursive;
}

.title {
    margin-bottom: 50px;
    font-size: 2rem;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.2;
    font-family: 'Klee One', cursive;
}
.text{
    margin-bottom: 50px;
    font-size: 20px;
    font-family: 'Klee One', cursive;
}

p {
    color: #ffffff;
    font-weight: 500; 
}

span {
    color: #8879B0;
}


/* button */

.btn {
    background-color: #3d313d;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    border: none;
    font-size: 20px;
    font-family: 'Klee One', cursive;
    cursor: pointer;
}

.btn:hover {
    background-color: #716593;
}



/* My Photo */

.my_photo {
    margin-left: 100px;
    border-radius: 5px;
   
}


/* PROJECTS */

.projects_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding-top: 90px;
    padding-bottom: 70px;
}

.projects_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     margin: 0 auto 0 auto;
}


.title_projects {
    align-items: center;
    color: #8879B0;
    margin: 0 auto 40px auto;
    font-family: 'Klee One', cursive;
    font-size: 30px;
}

.projects_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 250px;
    margin: 20px;
    background-color: #d4cee6;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.034), 0 10px 10px rgba(0, 0, 0, 0.05), 0 20px 15px rgba(0, 0, 0, 0.07), 0 25px 25px rgba(0, 0, 0, 0.1);
}

/* .project_image {
    width: 300px;
    height: 207px;
    border-radius: 5px;
    transition: .5s;
    overflow: hidden;
    cursor: pointer;
} */

.project img {
    width: 300px;
    height: 207px;
    border-radius: 5px;
    transition: .5s;
    overflow: hidden;
    cursor: pointer;
}

.project:hover img {
    opacity: .1;
    transition: .3;
    transform: scale(1.1);
}

.project .project_text {
    text-align: center;
    letter-spacing: 0.1 rem;
    position: absolute;
    top: -10rem;
    z-index: 10;
    transition: top 0.3s;
}

.project:hover .project_text { 
    top: 2.5rem;
    transition: top 0.4s 0.4s;
}


.project_title {
    font-size: 1.4 rem;
    color: #377D71;
    text-transform: capitalize;
    font-weight: 600
}


h2, h4 {
  color: #377D71;
}

.project_technologies {
    font-size: 1rem;
    color: #377D71;
    margin: 15px;
}


.project_link {
    outline: none;
    font-size: 1.4rem;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 0.1rem;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: #377D71;
    text-decoration: none;
}

.project_link:hover {
    transition: bottom 0.3s 0.3s;
    background: #1d443e;
    color: #ffffff;
}

/* SKILLS */

.tools_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 400px; 
    background-color: #dddddd;
    padding-top: 90px;
    padding-bottom: 70px;
    
}


.tools_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;
}

.tools-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    max-width: 800px;
    width: 100%;
    height: 50%;
}


.title_tools{
    text-align: center;
    color: #8879B0;
}

.tools{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center; 
    width: 80%;
    margin: 20px auto;
}

.tool{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    text-align: center;
    /* height: 125px; 
    margin: 20px; */
}


.tool_name{
    display: block;
    color: #377D71 ;
    font-size: 1.2rem;
    letter-spacing: 1px;
     position: static;
     bottom: 0;
}

.icon{
    height: 70px;
    margin: 0 auto;
}

.content-certificates{
  margin-top: 2rem;
}

.certificate_1, .certificate_2 {
    width: 60%;
    margin: 20px auto; 
}

/* Contact */


#particles-js {
    position: absolute;
    left:0;
    width: 100%;
    height: 350px;
    z-index: 1;
}

.contacts_container{
    min-height: 500px;
    /* max-width: auto; */
    width: 100vw;
    background-color: #b2acc2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 70px;
}

.contacts-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.form {
    width: 80%;
    max-width: 350px;
    min-height: 300px;
    color: #fff;
    margin: 10px auto 0px auto;
    z-index: 3;   
}

.form-group {
    margin-bottom: 10px;
}

.form-group:hover{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}


.input,
.textarea {
    display: block;
    width: 100%;
    padding: 12px 18px;
    outline: none;
    font-family: 'Klee One', cursive;
    font-size: 20px;
    color: #fff;
    border: #dcafaf;
    background-color:rgba(255,255,192,0.2);
    border-radius: 5px;
}


.textarea {
    height: 100px;
    resize: none;
}
.input::placeholder,
.textarea::placeholder {
    color: #fff;
}

.form_btn {
    display: block;
    width: 100%;
    padding: 12px 35px;
    margin-bottom: 20px;
    font-family: 'Klee One', cursive;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    background-color: #3d313d;
    border-radius: 5px;
}

.form_btn:hover {
    background-color: #716593;
}

/* Footer */

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-height: 150px;
    background: #8f8f6c;
    position: static;
    bottom: 0;
    left: 0;
    padding: 10px auto;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.contacts-link {
    margin-right: 1rem;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.contacts-link:last-child {
    margin-right: 0;
    position: relative;
}


.contacts-icon:hover {
    transform: scale(1.3);
}

.contacts-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: cover;    
}

.sources{
    text-align: center;
    font-family: inherit;
    font-size: 10px;
    color: #fff;
    max-width: 800px;
    position: static;
    background: #8f8f6c;
}


.arrow_up{
    border: solid #3d313d;
    border-width: 0 10px 10px 0;
    padding: 10px;
    display: inline-block;
    transform: rotate(-135deg);
    webkit-transform: rotate(-135deg);
    position: fixed;
    bottom: 100px;
    left: 30px;
}

.arrow_up:hover{
    border: double #3d313d;
    border-width: 0 15px 15px 0;
    padding: 15px;
    transition: .5s;
}



/*== Media ==*/
@media (max-width: 1000px) {

    .my_photo {
        display: block;
        overflow: hidden;
        height: 300px;   
        margin: 10px;
    }
}
@media(min-width: 760px){
 .main_container_content{
     width: 80%;
  }
}

@media (max-width: 800px) {
    .page {
        min-height: 100vh;
        height: auto;
    }
  
/*   h1, h2 {
    margin-left: 250px;
  } */
  
  span {
    color: #3d313d;
  }
  
/*   p {
    margin-left: 250px;
  } */
  
  .play {
    margin: 0;
  }
  
  .project .project_text {
    text-align: center;
    letter-spacing: 0.1 rem;
    position: absolute;
    top: -12rem;
/*     z-index: 10; */
    transition: top 0.3s;
   
}
  

  
  
  
.project_title {
    font-size: 1.4 rem;
    color: #377D71;
    text-transform: capitalize;
    font-weight: 600;
    margin-top: 1px;
    
}


h2, h4 {
  color: #377D71;
}

.project_technologies {
    font-size: 1rem;
    color: #377D71;
    font-weight: 600;
    margin: 15px;
}


.project_link {
  padding: 0.1rem;
 }
  
/*   .btn {
    margin-left: 240px;
  } */
  
  .title_tools {
    display: flex;
    justify-content: center;
  }
  
  #tool_1 {
    margin-top: 85px;
  }
  
/*   .contact_title, .message, #word {
    margin-right: 250px;
  } */
  
  
  .icon {
    display: flex;
    justify-content: center;
    margin-top: 90px;
  }
  
  .sources {
    display: flex;
    justify-content: center;
  }
  
  .button {
    margin-top: 75px;
/*     display: flex;
    flex-direction: column;
    align-items: center; */
  }
  
    .header-logo {
        display: none;
    }

    .header-brand {
        align-self: center;
        font-size: 1.6rem;
    }

    .content {
        max-width: none;
        padding: 120px auto 50px auto;
        text-align: center;       
    }
  
    .certificate_1, .certificate_2 {
        width: 80%;
        margin: 20px auto; 
    }

    .form {
        margin: 0 auto;
    } 
}

@media(max-width: 767px){
    .header-inner .header-nav{
        display: none;
    }
    .header-brand {
        font-size: 1.6rem;
    }
    .hamb{
        display: block;
        align-items: center;
        justify-content: center;
    }
    .hamb_field{
        padding: 10px 20px;
        cursor: pointer;
    }
    .bar{
        display: block;
        width: 30px;
        height: 2px;
        margin: 6px auto;
        background-color: #8879B0;
        transition: .2s;
    }
    .popup{
        display: flex;
        position: fixed;
        top:70px;
        left: -100%;
        width: 100%;
        height: 100%;
        z-index: 100;
        background-color: #E5CFE5;
        opacity: .9;
        transition: .3s;
    }
    .popup.open{
        left:0;  
    }
    .popup .header-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 100vw;
        height: 100vh;
        padding-top: 50px;
        overflow: auto;
    }
    .popup .header-nav>li{
        width: 100%;
    }
    .popup .header-nav>li>a{
        display: flex;
        justify-content: center;
        width: 100%;
        font-weight: 600;
        font-size: 1.4rem;
        padding: 20px 0;
        color:#8879B0;
        margin-left: 0;
    }
    .popup .header-nav>li>a:hover {
        background-color: rgba(225, 225, 225, 0.1);
    }
    .hamb_field.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamb_field.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamb_field.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    body.noscroll{
        overflow: hidden;
    }
    .contact_me{
        border: none;
    }
    .my_photo {
        display: none;
    }
    .main_container{
        padding-top: 70px;
        margin: 0 auto;
        overflow: hidden;
    }
     .content {
        max-width: none;
        margin: 90px auto 50px auto;
        text-align: center;       
    }
    .projects_content{
        padding: 5px;
    }
    .contacts{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
        width: 90%; 
    }
   .contact_title, .message{
        font-size: 1.4rem;
    }
    .arrow_up{
        border-width: 0 5px 5px 0;
        padding: 5px;
        position: fixed;
        bottom: 150px;
        left: 10px;
    }   
    .arrow_up:hover{
        border-width: 0 10px 10px 0;
        padding: 7px;
        transition: .5s;
    }
}

@media (max-width: 400px) {
   
  .main_container{
        overflow: hidden;
    }
    .subtitle {
        font-size: 1.2rem;
    }

    .title {
        font-size: 1.6rem;
    }
    .project {
        width: 250px;
        height: 180px;
        
    }
    
    .project img {
        width: 250px;
        height: 180px;
    }
  
    .tools_container{
      padding-top: 120px;
    }
  
    .certificate_1, .certificate_2{
        width: 90%;
        margin: 10px auto; 
    }
  
    .arrow_up{
      display: none;
    }
}